[submodule "ftdi_eeprom"]
	path = ftdi_eeprom
	url = git://developer.intra2net.com/ftdi_eeprom
[submodule "libconfuse"]
	path = libconfuse
	url = https://github.com/martinh/libconfuse.git
[submodule "libftdi"]
	path = libftdi
	url = git://developer.intra2net.com/libftdi
[submodule "libftdi-perl"]
	path = libftdi-perl
	url = git@github.com:mikef5410/libftdi-perl.git
[submodule "libmpsse"]
	path = libmpsse
	url = git@github.com:mikef5410/libmpsse.git
        branch = MF_MODS
        update = rebase
